{% extends "base.html" %}
{% block title %}Profile{% endblock title %}

{% block content %}
<!-- Card based expenses table, but not as clean as so this will not be used:
<div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
    <div class="card-header">
        <h4 class="mb-0 text-center">Previous Expenses</h4>
    </div>
    <div class="card-body">
        {% for user_expense in user_expenses %}
        <span title="{{ user_expense.description }}">{{ forloop.counter }}. &ensp; {{ user_expense.expense_date }} -
            ${{ user_expense.amount }} [{{ user_expense.expense_type }}]
        </span>
            <br><br>
        {% endfor %}
    </div>
</div>
-->
<br>
<div class="container" style="max-width: 500px; max-height: 550px;">
    <table class="table table-hover table-success">
        <caption>Mouseover for descriptions</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        {% for user_expense in user_expenses %}
        <tbody>
            <tr data-toggle="tooltip" title="{{ user_expense.description }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ user_expense.expense_date }}</td>
                <td class="text-info"><b>${{ user_expense.amount }}</b></td>
                <td class="title_case">{{ user_expense.expense_type }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>


    <div class="text-center">
        <a class="btn btn-outline-dark" href="/expenses">View All Expenses</a>
    </div>
</div>
{% endblock content %}