@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");


/* Landing page background image */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#index_background {
    height: 100%;
    max-width: 100%;
    background: url(/static/images/loose_change.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 25px solid white;
    background-color: gray;
}

.generic_background {
    background: #b0aeae;
    padding: 30px;
    background-size: cover;
}

/* Font styling and effects */
h1 {
    font-family: Raleway;
    }

.landing_h1 {
    color: #f7f7f7;
    font-size: 550%;
}

.landing_h2 {
    /* color: #5cb85c; */
    color: #f7f7f7;
    font-size: 225%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 100px white;
}

h2 {
    font-family: Oswald;
    text-align: center;
    }

.h2_arrow_up:after {
    content: ' \21E7';
    color: red;
}

.h2_arrow_down:after {
    content: ' \21E9';
    color: green;
}

.tab-large {
  -moz-tab-size: 16; /* Firefox */
  -o-tab-size: 16; /* Opera 10.6-12.1 */
  tab-size: 16;
}

/* Div box framing */
.div_box_frame {
    width: 100%;
    height: 90%;
    padding: 0;
    border: solid;
}

.div_small_box {
    width: 50%;
    border: solid;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_button_box {
    height: 25%;
    border: solid;
    padding: 0;
    background: ;
}

.longer_buttons {
    width: 200px;
}

.div_flex {
    display: flex;
    display: -webkit-flex;
}

.div_flex_equal_column {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* Navbar styling */
#navbar-custom {
    text-shadow: -1px 0 #f7f7f7, 0 1px #f7f7f7, 1px 0 #f7f7f7, 0 -1px #f7f7f7, 0 0 100px black;
    font-size: 130%;
    font-family: Oswald;
    }

.navbar-brand {
    font-size: 135%;
}

/* Modal (popup expense form */
.bg-modal {
    width: 100%;
    height: 100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.close {
    position: absolute;
    top: -40px;
    right: -5px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    color: #5cb85c;
}

.close:hover {
    color: red;
}

/* Landing page expense form */

#index_expense_form {
    position: relative;
    border-radius: 10px;
    padding:10px;
    background-color: white;
    width: 500px;
    }

/* Expense Table Caption */
#expense_table_caption {
    color: gray;
    }

/* Expense table and chart alignment */
#leftbox {
    width: 50%;
    border: solid;
    }

#rightbox {
    width: 50%;
    border: solid;
    }

.center_div {
    display: flex;
    align-items: center;
    justify-content: center;
    }

.center_text {
    text-align: center;
}

.chart_size {
    width: 100%;
    height: 50%;
    border: solid;
    }

/* Pastel Colors */
.color_orange {
    background: #F4CDA6;
    }

.color_blue {
    background: #A5C8E4;
    }

.color_green {
    background: #C0ECCC;
    }

.color_red {
    background: #F6A8A6;
    }

.color_yellow {
    background: #F9F0C1;
    }

/* Miscellaneous */
.title_case {
    text-transform: capitalize;
    }

.container {
    border: solid;
    }

.stickyHeader {
    position: sticky;
    top: 0;
    }
