{% extends "base.html" %}
{% block title %}
Expenses
{% endblock title %}

{% block content %}
<p class="text-center">Hello {{ user_name }}! This is the expenses page!</p>

<div class="container">
    <div class="overflow-auto" style="max-width: 500px; max-height: 550px;">
        <table class="table table-hover table-active">
            <caption>Mouseover for descriptions</caption>
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
            </tr>
            </thead>
            {% for user_expense in user_expenses %}
            <tbody>
                <tr data-toggle="tooltip" title="{{ user_expense.description }}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user_expense.expense_date }}</td>
                    <td class="text-info">${{ user_expense.amount }}</td>
                    <td>{{ user_expense.expense_type }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
<div><img src="https://www.coogfans.com/uploads/db5902/original/3X/8/1/81173237ffa580ef710b0862fdddaac163274db1.jpeg"></div>

{% endblock content %}
