{% extends "base.html" %}
{% block title %}
Expenses
{% endblock title %}

{% block content %}
<p>Hello {{ user_name }}! This is the expenses page!</p>

<div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
    <div class="card-header">
        <h4 class="mb-0 text-center">All Expenses</h4>
    </div>
    <div class="card-body">
        {% for user_expense in user_expenses %}
        <span title="{{ user_expense.description }}">{{ forloop.counter }}. &ensp; {{ user_expense.expense_date }} - ${{ user_expense.amount }} [{{ user_expense.expense_type }}]</span>
            <br><br>
        {% endfor %}
    </div>
{% endblock content %}
