{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<!-- My first form utilizing a card. Not very aesthetically pleasing so attempting a different type
<form method="POST" action="{% url 'expenses_paths:post_function' %}">
    {% csrf_token %}

    <div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
        <div class="card-header">
            <h4 class="mb-0 text-center">Input Expenses</h4>
        </div>
        <div class="card-body">
            <div>
                <label for="expense_amount">Amount: $</label>
                <input id="expense_amount" type="number" min=".01" placeholder="0" name="expense_amount" step=".01">
            </div>

            <div>
                <label for="expense_type">Type: </label>
                <select id="expense_type" name="expense_type">
                    <option value="food">Food</option>
                    <option value="personal">Personal</option>
                    <option value="transportation">Transportation</option>
                    <option value="housing">Housing</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div>
                <label for="expense_description">Description: </label>
                <input id="expense_description" type="text" placeholder="Optional description..." name="description">
            </div>

            <div>
                <label for="expense_date">Custom date: </label>
                <input id="expense_date" type="checkbox" name="expense_date">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-outline-light">Submit</button>
            </div>

        </div>
    </div>
</form>
-->
<br>


<form method="POST" action="{% url 'expenses_paths:post_function' %}">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="expense_amount">Amount $</label>
            <input class="form-control" id="expense_amount" type="number" min=".01" placeholder="0"
                   name="expense_amount" step=".01">
        </div>

        <div class="form-group col-md-6">
            <label for="expense_type">Type </label>
            <select class="form-control" id="expense_type" name="expense_type">
                <option value="food">Food</option>
                <option value="personal">Personal</option>
                <option value="transportation">Transportation</option>
                <option value="housing">Housing</option>
                <option value="other">Other</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="expense_description">Description </label>
        <input class="form-control" id="expense_description" type="text" placeholder="Optional description..."
               name="description">
    </div>

    <div class="form-check">
        <input class="form-check-input" id="expense_date" type="checkbox"
               name="expense_date" onclick="custom_date_entry()">
        <label for="expense_date">Custom date </label>
        <small id="passwordHelpInline" class="text-muted">
            Default date: Today, {{ current_date }}
        </small>
    </div>

    <div id="custom_date" style="display:none" class="form-group">
        <input class="form-control" name="custom_date" type="date" placeholder="Ex. Dec. 30, 1995">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
</form>

<!-- Javascript to allow the checkbox to popup an additional input for a custom date entry -->
<script>
function custom_date_entry() {
  var checkBox = document.getElementById("expense_date");
  var text = document.getElementById("custom_date");
  if (checkBox.checked == true){
    text.style.display = "block";
  } else {
     text.style.display = "none";
  }
}
</script>

{% endblock content %}
