{% extends "base.html" %}
{% block title %} Signup {% endblock title %}

{% block content %}
<h1 class="text-center">Please signup, it's FREE!</h1>

<br><br>

<div style="border: solid; width: 50%; margin: auto; padding: 5px;">
    <form method="POST" action="signup" class="text-center">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <br>
        <button type="submit" class="btn btn-outline-dark text-center">Register Now!</button>
    </form>
    <small>Already signed-up? <a href="/login">Login Here!</a></small>
</div>
{% endblock content %}
